@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Normalize CSS */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C""\201D""\2018""\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
html *,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 4rem 0;
}

h1,
h2 {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 5rem;
  letter-spacing: -0.1rem;
  line-height: 5rem;
  color: #fff;
}

h2 {
  font-size: 2.55rem;
  letter-spacing: -0.07rem;
  line-height: 2.55rem;
}

h3 {
  font-size: 2.4rem;
  letter-spacing: -0.05rem;
  line-height: 2.4rem;
  font-weight: 100;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

h2,
h3,
h4,
h5 {
  margin: 0.5rem 0 2rem;
  color: #333;
}

h2 {
  margin: 1.5rem 0rem 0.75rem 0rem;
}

section .row h3 {
  margin-top: 2rem;
}

p,
li,
td,
th {
  color: #333;
  font-size: 1.1rem;
}

ul li {
  list-style: square;
}

p {
  line-height: 1.75rem;
  margin: 0.8rem 0;
}

a {
  color: #005f83;
  font-weight: bold;
}

a:visited {
  color: #029d99;
}

h2 a,
h2 a:visited {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  color: #005f83;
  border-bottom: 2px solid #005f83;
}

h2 a,
h3 a {
  display: inline-block;
  margin-top: 1.5rem;
}

.no-underline {
  text-decoration: none;
}

li {
  margin-bottom: 1rem;
}

hr {
  border-top: 0;
  border-bottom: 1px dotted #777;
  margin: 2rem 0;
  clear: both;
}

section img {
  display: block;
  max-width: 100%;
  height: auto;
}

section ul {
  margin: 1.5rem 3.5rem;
}

.container h2 {
  margin-left: 1rem;
}

#cookienag {
  background-color: black;
  position: fixed;
  bottom: -1px;
  left: 0;
  z-index: 99;
  padding: 1rem;
  width: 100vw;
  text-align: center;
  opacity: 1;
  transition: opacity 1s;
}

#cookienag.accepted {
  opacity: 0;
}

#cookienag p {
  color: white !important;
  margin: 0.8rem 1.5rem;
}

#cookienag .btn {
  margin: 1rem 1rem;
  padding: 0 1rem;
}

#home section:first-of-type {
  padding-top: 1rem;
}

@media only screen and (max-width: 40em) {
  #cookienag p {
    font-size: 0.75rem;
    line-height: 0.75rem;
  }

  #cookienag .btn {
    display: block;
    margin: 1rem auto;
    font-size: 0.75rem;
  }

  #cookienag {
    bottom: 0px;
    padding: 0.5rem;
  }
}

/* Helper classes */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-large {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  letter-spacing: -0.03rem;
  color: #888;
}

/*font-size: 1.5rem; line-height: 2.2rem;*/
ul.text-large li {
  font-size: 1.3rem;
}

.wrapper {
  padding-top: 6rem;
  overflow: hidden;
}

.content {
  background: #fff;
  padding: 0 15vw;
  margin-bottom: 3rem;
}

.content>section.container-fluid:not(.full-width) {
  max-width: 1000px;
}

.container.fw,
.container-fluid.fw,
section.fw {
  margin-left: -15vw;
  margin-right: -15vw;
  background-size: cover;
  padding-left: 15vw;
  padding-right: 15vw;
}

@media only screen and (max-width: 1050px) {
  .container.cards:not(.home-container, .rl) {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: -15vw;
    margin-right: -15vw;
    width: initial;
  }

  .cards .row {
    margin-left: initial;
    margin-right: initial;
  }
}

@media only screen and (max-width: 40em) {
  .container.cards:not(.home-container, .rl) {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  section ul {
    margin: 0.5rem 1.5rem;
  }
}

/*.fw .row { 
    margin-left: 0;
    margin-right: 0;
}*/
.fw.nopadding h2 {
  padding: 1.5rem 0;
  margin: 0;
}

.fw.nopadding h3 {
  padding-bottom: 1.5rem;
}

/*
.hero +.content section.fw:first-child {
    margin-top: -2rem;
}
*/
.hero {
  /*    display: table; */
  width: 100vw;
  min-height: 60vh;
  padding: 10vh 15vw;
  background-position: center center;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 1050px) {
  .hero {
    padding: 15vh 5vw;
  }
}

.hero.slim {
  display: table;
}

.hero.hero.hero-sm {
  height: 20vh;
  background-position: 50% 0;
}

.hero div {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: relative;
}

.hero h1 {
  margin-bottom: 3rem;
  line-height: 8.1rem;
}

.hero h2 {
  color: #fff;
}

.hero p {
  color: #fff;
  padding: 1rem 10vw;
  font-size: 2rem;
  line-height: 3rem;
}

.nopadding,
section.nopadding {
  padding-top: 0;
  padding-bottom: 0;
}

.quote {
  background: rgba(0, 168, 192, 0.1);
  margin: 0.5rem -15vw;
  padding: 3rem 15vw;
  position: relative;
}

.quote:before,
.quote:after {
  font-size: 10rem;
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  z-index: 1;
}

.quote:before {
  content: "\201C";
  left: 5rem;
  top: 0px;
}

.quote:after {
  content: "\201D";
  right: 5rem;
  top: 0px;
}

@media only screen and (max-width: 800px) {

  .quote:before,
  .quote:after {
    font-size: 6rem;
  }

  .quote:before {
    left: 5px;
    top: -10px;
  }

  .quote:after {
    top: initial;
    right: 5px;
    bottom: -3rem;
  }
}

.quote p {
  font-size: 1.875rem;
  line-height: 3.1rem;
  color: #245886;
  font-weight: bold;
  font-style: italic;
  position: relative;
  z-index: 1;
}

.quote p.q-a {
  border: none;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: right;
  padding: 0 3rem;
  color: #777;
}

.quote canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.nopadding .quote {
  margin-top: 0;
}

/*.q1 p:not(.q-a), .bora .q1 p:not(.q-a) { 
    font-size: 1.8rem;
    line-height: 3.3rem;
    padding: .1rem 0;
    color: #00779b;
    display: inline;
    background: rgba(0,168,192,0.1);
    box-shadow: 0 -4px 0 #00779b;
}*/
.promo {
  display: block;
  text-decoration: none;
  font-weight: normal;
  margin: 1.5rem 0.5rem;
  padding: 0 2rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.promo .img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.5s all;
  background-position: center;
  background-size: cover;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .promo .img {
    background-size: 200%;
  }
}

.promo:hover .img {
  transform: scale(1.1);
}

.promo h3,
.promo h5 {
  color: #fff;
  z-index: 1;
}

.promo h3 {
  font-weight: bold;
}

a .hero h1:after,
.promo h3:after,
h3 a:after,
a h3:after {
  display: inline-block;
  content: "";
  width: 0.5rem;
  white-space: nowrap;
  margin-left: 0;
  vertical-align: middle;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: underline;
  -moz-osx-font-smoothing: grayscale;
  height: 8rem;
  width: 8rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.service-cards a h3:after {
  height: 2rem;
  width: 2rem;
}

.service-cards a:hover h3:after {
  opacity: 1;
  margin-left: 0.3rem;
}

.promo h3:after,
h3 a:after {
  height: 2.4rem;
  font-size: 2.4rem;
  width: 2.4rem;
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -ms-filter: invert(1);
  -o-filter: invert(1);
}

a:hover .hero h1:after {
  vertical-align: middle;
  text-decoration: none;
  opacity: 1;
  margin-left: 0.3rem;
  color: black;
  opacity: 0.5;
}

@media only screen and (max-width: 40em) {
  a .hero h1:after {
    font-size: 2.3rem;
    width: 3rem;
    height: 3rem;
    margin-left: 0.7rem;
    opacity: 1;
  }

  section .row .promo h3 {
    margin-top: 0;
  }

  .promo h3:after {
    height: 1.8rem;
    font-size: 1.2rem;
    opacity: 1;
  }

  .service-cards h3:after {
    opacity: 1;
  }

  .promo h5 {
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: normal;
  }
}

.promo:hover h3:after,
h3:hover a:after {
  opacity: 1;
  margin-left: 0.3rem;
}

#home-hero:hover h1:after,
.promo h3:after,
.promo:hover h3:after,
h3 a:after,
h3:hover a:after {
  /* Fix for FF/IE */
  text-decoration: none;
}

.top {
  width: 100%;
  height: 6rem;
  /*	changed*/
  background: #fff;
  position: fixed;
  z-index: 90;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.top>a {
  display: inline-block;
  text-indent: -1000em;
  width: 12rem;
  height: 6rem;
  /*	changed*/
  margin-left: 2rem;
  background-size: contain;
  outline: 0;
}

/* mobile */
@media only screen and (max-width: 40em) {
  section {
    padding: 1rem 0;
  }

  .content,
  .content.container {
    margin-bottom: 0;
    padding: 0 0;
  }

  /* was 0 */
  .hero {
    padding: 2rem 0;
  }

  .hero .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .hero p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .quote {
    margin: 0;
    padding: 3rem 1rem 1rem 1rem;
  }

  .quote p,
  .quote.q1 p:not(.q-a) {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .quote p.q-a {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .quote.q2 {
    margin: 2rem -1.2rem;
    padding: 1rem;
  }

  .quote.q2:before {
    top: -1.7rem;
    left: 2rem;
    color: rgba(36, 88, 134, 0.1);
  }

  .text-large {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .fw {
    margin-left: 0rem;
    /*		changed*/
    margin-right: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .fw .row {
    margin-left: 0;
    margin-right: 0;
  }

  .promo {
    padding-top: 2rem;
    margin: 1rem 0;
  }

  h1 {
    font-size: 2.3rem;
    letter-spacing: -0.07rem;
    line-height: 2.3rem;
  }

  h2 {
    font-size: 2rem;
    letter-spacing: -0.07rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.2rem;
    letter-spacing: -0.05rem;
    line-height: 1.8rem;
    font-weight: normal;
    margin: 0;
  }

  h4 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  h5 {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

/* Colors */
.bise {
  color: #029d99;
}

.mistral {
  color: #18b2be;
}

.bora {
  color: #005f83;
}

.sirocco {
  color: #c2ce6a;
}

.brickfielder {
  color: #deca5a;
}

section[class*="bg-"] *,
[class*="bg-"] a {
  color: #fff !important;
}

.bg-bise,
.bise .btn,
.bg-bise.bg-bise .btn,
.bise .quote span {
  background-color: #029d99;
}

.bg-mistral,
.mistral .btn,
.bg-mistral.bg-mistral .btn,
.mistral .quote span {
  background-color: #18b2be;
}

.bg-bora,
.bora .btn,
.bg-bora.bg-bora .btn,
.bora .quote span {
  background-color: #005f83;
}

.bg-sirocco,
.sirocco .btn,
.bg-sirocco.bg-sirocco .btn,
.sirocco .quote span {
  background-color: #b1bc61;
}

.bg-brickfielder,
.brickfielder .btn,
.bg-brickfielder.bg-brickfielder .btn,
.brickfielder .quote span {
  background-color: #c8b339;
}

.bglight {
  background-color: #ddf4f5;
}

.bglight2 {
  background-color: #e5e5e5;
}

.card.card .btn,
footer .btn.btn {
  background-color: #777;
}

.bise .quote p:not(.q-a),
.bise .quote p a,
.bise .text-large {
  color: #028d89;
}

.mistral .quote p:not(.q-a),
.mistral .quote p a,
.mistral .text-large {
  color: #16a0ab;
}

.bora .quote p:not(.q-a),
.bora .quote p a,
.bora .text-large {
  color: #005576;
}

.sirocco .quote p:not(.q-a),
.sirocco .quote p a,
.sirocco .text-large {
  color: #a5af5a;
}

.brickfielder .quote p:not(.q-a),
.brickfielder .quote p a,
.brickfielder .text-large {
  color: #8c954d;
}

.bise .quote {
  background: rgba(2, 157, 153, 0.1);
}

.bise .quote:before {
  color: rgba(2, 157, 153, 0.3);
}

.mistral .quote {
  background: rgba(24, 178, 190, 0.1);
}

.mistral .quote:before {
  color: rgba(24, 178, 190, 0.3);
}

.bora .quote {
  background: rgba(0, 95, 131, 0.1);
}

.bora .quote:before {
  color: rgba(0, 95, 131, 0.3);
}

.sirocco .quote {
  background: rgba(194, 206, 106, 0.1);
}

.sirocco .quote:before {
  color: rgba(194, 206, 106, 0.3);
}

.brickfielder .quote {
  background: rgba(222, 202, 90, 0.1);
}

.brickfielder .quote:before {
  color: rgba(222, 202, 90, 0.3);
}

body.default .quote {
  background: rgba(238, 238, 238, 0.5);
}

body.default .quote:before {
  color: #888;
}

body.default .quote p {
  color: #888;
}

/*Color transitions*/

.default .hero h1 span,
.default .hero h2 span,
.default p.text-large,
.default .quote,
.default .quote p,
.default .quote:before,
.default .tidbits {
  transition: color 1s, background-color 1s, box-shadow 1s;
}

/*.bise .q1 p:not(.q-a) {
    color: #017673;
    box-shadow: 0 -4px 0 #029d99;
    background: rgba(2,157,153,0.1); 
}
.mistral .q1 p:not(.q-a) {
    color: #12858e;
    box-shadow: 0 -4px 0 #18b2be;
    background: rgba(24,178,190,0.1); 
}
.sirocco .q1 p:not(.q-a) {
    color: #919a4f;
    box-shadow: 0 -4px 0 #c2ce6a;
    background: rgba(194,206,106,0.1); 
}
.brickfielder .q1 p:not(.q-a) {
    color: #858d49;
    box-shadow: 0 -4px 0 #b1bc61;
    background: rgba(177,188,97,0.1); 
} */

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.4rem 1.2rem;
  color: #fff;
  border: 0;
  user-select: none;
  transition: box-shadow 0.4s;
  box-shadow: 0px 1px 4px transparent;
  margin: 1rem 0;
  font-size: 1.2rem;
  letter-spacing: -0.02rem;
  line-height: 2rem;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  background-color: #777;
}

.btn:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
}

.btn:active {
  transition: 0.2s;
  box-shadow: 0px 1px 4px transparent;
}

a.btn:visited {
  color: #fff;
}

/* Grid system */
.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@-ms-viewport {
  width: device-width;
}

.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }

  table.visible-xs {
    display: table;
  }

  tr.visible-xs {
    display: table-row !important;
  }

  td.visible-xs,
  th.visible-xs {
    display: table-cell !important;
  }

  .visible-xs-block {
    display: block !important;
  }

  .visible-xs-inline {
    display: inline !important;
  }

  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }

  table.visible-sm {
    display: table;
  }

  tr.visible-sm {
    display: table-row !important;
  }

  td.visible-sm,
  th.visible-sm {
    display: table-cell !important;
  }

  .visible-sm-block {
    display: block !important;
  }

  .visible-sm-inline {
    display: inline !important;
  }

  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }

  table.visible-md {
    display: table;
  }

  tr.visible-md {
    display: table-row !important;
  }

  td.visible-md,
  th.visible-md {
    display: table-cell !important;
  }

  .visible-md-block {
    display: block !important;
  }

  .visible-md-inline {
    display: inline !important;
  }

  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }

  table.visible-lg {
    display: table;
  }

  tr.visible-lg {
    display: table-row !important;
  }

  td.visible-lg,
  th.visible-lg {
    display: table-cell !important;
  }

  .visible-lg-block {
    display: block !important;
  }

  .visible-lg-inline {
    display: inline !important;
  }

  .visible-lg-inline-block {
    display: inline-block !important;
  }

  .hidden-lg {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

.visible-print {
  display: none !important;
}

@media print {
  .visible-print {
    display: block !important;
  }

  table.visible-print {
    display: table;
  }

  tr.visible-print {
    display: table-row !important;
  }

  td.visible-print,
  th.visible-print {
    display: table-cell !important;
  }
}

.visible-print-block {
  display: none !important;
}

@media print {
  .visible-print-block {
    display: block !important;
  }
}

.visible-print-inline {
  display: none !important;
}

@media print {
  .visible-print-inline {
    display: inline !important;
  }
}

.visible-print-inline-block {
  display: none !important;
}

@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }

  .hidden-print {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {

  .col,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 992px) {

  .col,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {

  .col,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }
}

.clearfix,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}

.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*Site override*/

@media only screen and (min-width: 40em) {
  .container-fluid {
    padding: 0.5rem 7rem;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1050px) {
  .container-fluid {
    padding: 0 1rem;
  }
}

.row:before {
  content: none;
}

@media only screen and (min-width: 1050px) {
  .rl .col-lg-3 {
    min-width: 280px;
  }
}

/* Cards */
.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.row-flex>div[class*="col-"],
.row-flex .promo {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  margin: 1.5rem 0.5rem;
  font-size: 0.95rem;
  text-decoration: none;
  color: #888;
  font-weight: normal;
  overflow: hidden;
  /*    box-shadow: 0px 1px 4px rgba(0,0,0,0.3);*/
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/*
.card > *:not(span) {
    padding: 0 10px 30px;
}
*/
.card strong {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  color: #005f83;
  /*    min-height: 72px;*/
}

.card:hover,
.promo:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  background-color: #f0f0e1;
}

.card:hover .c-image,
.promo.tBg:hover span:first-child,
.card:hover .img-container.tBg span:first-child,
.card.tBg:hover span:first-child {
  transform: scale(1.1);
}

.row-flex .card,
.row-flex .promo {
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 1050px) {

  .row-flex .card,
  .row-flex .promo {
    height: 100%;
  }
}

a.promo {
  position: relative;
  overflow: hidden;
}

.card span {
  position: relative;
  margin-bottom: 1rem;
  display: block;
}

.card .img-container:after,
.promo-cards .promo:after {
  content: "";
  display: inline-block;
  position: absolute;
  background: #777;
  color: #fff;
  bottom: 0;
  left: 0.5px;
  padding: 0 0.3rem;
  font-weight: normal;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.promo-cards .col-sm-6.col-xs-12 {
  overflow: hidden;
}

.card.c-i .img-container:after {
  content: "Insights";
}

.card.c-t .img-container:after,
.promo.c-t:after {
  content: "Tales";
}

.card.c-l .img-container:after,
.promo.c-l:after {
  content: "Labs";
}

.card.c-a .img-container:after,
.promo.c-a:after {
  content: "Articles";
}

.card {
  padding: 0.5rem 8px;
  margin: 0.5rem;
}

/* Tales Index */
.card .img-container .c-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150% auto;
  background-position: center;
  transition: 0.5s all;
}

.card .img-container {
  padding: 0 0;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  padding-top: 56.25%;
}

/*End Tales Index */

@media only screen and (max-width: 40em) {
  .card strong {
    letter-spacing: -0.05rem;
  }
}

/*
@media only screen and (min-width: 500px) and (max-width: 1050px) { 
    .card{
		padding: .5rem 0px;
	}
}
*/

@media only screen and (min-width: 400px) and (max-width: 760px) {
  .card .img-container {
    padding-top: 25vh;
  }
}

/* Footer */
@media only screen and (max-width: 320px) {
  .ktransform h5 {
    margin: 0.75rem 0 2rem;
    font-size: 1rem;
  }
}

footer {
  background: #555;
}

footer .row {
  margin-left: 0;
  margin-right: 0;
}

footer div {
  padding: 0.5rem 2rem;
}

footer>div:first-child {
  background: #999;
  margin-bottom: 1rem;
}

footer>div:last-child {
  background: #000;
}

footer hr {
  border-color: #eee;
  margin: 1rem 0;
}

footer h4,
footer h5 {
  color: #eee;
}

footer p {
  color: #bbb;
  font-size: 0.9rem;
  margin: 0.3rem 0;
  line-height: 1.35rem;
}

footer p strong {
  color: #fff;
}

footer>div:last-child p {
  font-size: 0.75rem;
  color: #fff;
  padding: 0.8rem;
}

footer a {
  color: #bbb;
  font-weight: normal;
}

footer>div:last-child p a {
  color: #fff;
}

.fl {
  margin-right: 2rem;
}

footer form {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

footer form input,
footer form textarea {
  display: block;
  position: relative;
  background-color: #dddddd;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  border: none;
  resize: none;
  font: inherit;
  font-weight: normal;
  color: #000;
  padding: 0.5rem;
  width: 20rem;
  margin: 0.5rem 0;
}

footer form i {
  color: #999;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
}

.search {
  cursor: pointer;
  text-indent: -1000rem;
  width: 1.4rem;
  height: 1.4rem;
  background-size: cover;
}

.ic-ig,
.ic-li {
  display: inline-block;
  width: 2.375rem;
  height: 2.375rem;
  text-indent: -1000rem;
  text-decoration: none;
  margin-right: 10px;
}

.ic-li {}

/* extra footer */
footer.bg-bora input {
  background-color: #005576;
  margin: 0 auto;
}

footer.bg-bora i {
  margin: -30px 0 0 8rem;
}

/* Overlay nav */
.overlay {
  position: fixed;
  width: 100%;
  height: calc(100% - 6rem);
  bottom: 0;
  left: 0;
  background: rgba(24, 178, 190, 0.95);
  z-index: 95;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

/* Overlay button and menu button */
.overlay .overlay-close,
#trigger-overlay {
  width: 2rem;
  height: 1.875rem;
  position: absolute;
  right: 2rem;
  top: 2.1rem;
  border: none;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  cursor: pointer;
}

#trigger-overlay {
  display: inline-block;
  top: 2.1rem;
  /*	changed*/
  height: 1.875rem;
  width: 2rem;
  box-sizing: content-box;
}

.animated-button-container .animated-button {
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}

.animated-button-container .animated-button span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #000;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.animated-button-container .animated-button span:nth-child(1) {
  top: 0px;
  background: #00779b;
  background: linear-gradient(to right, #00779b, #245886);
}

.animated-button-container .animated-button span:nth-child(2) {
  top: 11px;
  background: #00779b;
  background: linear-gradient(to right, #00779b, #245886);
}

.animated-button-container .animated-button span:nth-child(3) {
  top: 11px;
  background: #efcf4f;
  background: linear-gradient(to right, #efcf4f, #e8c741);
}

.animated-button-container .animated-button span:nth-child(4) {
  top: 22px;
  background: #49c0c7;
  background: linear-gradient(to right, #49c0c7, #00a8c0);
}

.animated-button-container.menu-open .animated-button span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.animated-button-container.menu-open .animated-button span:nth-child(2) {
  transform: rotate(45deg);
}

.animated-button-container.menu-open .animated-button span:nth-child(3) {
  transform: rotate(-45deg);
  background: #49c0c7;
  background: linear-gradient(to right, #49c0c7, #00a8c0);
}

.animated-button-container.menu-open .animated-button span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Menu style */
.overlay .row {
  margin: 10vh 0;
  height: 70vh;
}

.overlay nav {
  position: relative;
  height: 100vh;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.overlay ul li {
  min-height: 54px;
  height: 14vh;
  width: 100%;
  padding: 0.5rem 2rem;
  list-style: none;
}

.overlay ul li>a {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 0.5rem;
}

.overlay ul li a {
  display: inline-block;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
}

.overlay a,
.overlay a:visited {
  color: #fff;
}

.overlay a:hover,
.overlay a:focus {
  background: #005f83;
}

.overlay p,
.overlay h1,
.overlay h4 {
  color: #eee;
}

.overlay h1 {
  margin: 2rem 0;
}

.overlay h1 span {
  color: #fff;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  .overlay ul li {
    min-height: 34px;
  }
}

@media only screen and (max-width: 40em) {
  .overlay ul {
    -webkit-align-content: flex-end;
    align-content: flex-end;
  }

  .overlay ul li {
    width: 100%;
  }

  .overlay ul li>a {
    font-size: 2.4rem;
  }

  .overlay p {
    display: none;
  }

  footer form input,
  footer form textarea {
    width: 16rem;
  }

  .overlay {
    height: calc(100% - 4rem);
  }
}

/* Menu Effects */
.overlay.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.4);
}

.overlay nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

@media only screen and (max-width: 40em) {
  .top>a {
    color: transparent;
    max-width: 70%;
    margin-left: 1rem;
  }

  #trigger-overlay,
  .overlay .overlay-close {
    right: 1rem;
  }

  #trigger-overlay:before {
    margin-top: -0.85rem;
  }

  #trigger-overlay:after {
    margin-top: -1.5rem;
  }
}

/* Drop cap letters */
.dc {
  display: block;
  float: left;
  height: 4rem;
  vertical-align: text-bottom;
  margin-bottom: 1rem;
  margin-right: 0.2rem;
  font-size: 4rem;
  font-weight: bold;
  text-indent: -1000rem;
}

.dc-c {
  width: 55px;
  background-position: right -200px;
}

.dc-f {
  width: 59px;
  background-position: right -500px;
}

.dc-g {
  width: 59px;
  background-position: right -600px;
}

.dc-h {
  width: 59px;
  background-position: right -700px;
}

.dc-k {
  width: 59px;
  background-position: right -1000px;
}

.dc-l {
  width: 59px;
  background-position: right -1100px;
}

.dc-t {
  width: 54px;
  background-position: right -1900px;
}

.dc-w {
  width: 97px;
  background-position: right -2200px;
}

.k-sq {
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  margin: 0.5rem auto;
  text-indent: -1000rem;
  background-size: cover;
}

/* icons */
.material-icons.ic-large {
  font-size: 5rem;
}

/* Home page */
#btn-more {
  transition: all 0.5s;
}

.cards .col-xs-12 {
  transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
  opacity: 1;
}

.cards:not(.promo-cards) .col-xs-12 {
  max-height: 300px;
}

.cards .col-xs-12.hidden {
  max-height: 0;
  opacity: 0;
}

/*
#home-hero { 
    width: 100%; 
    height: 70vh; 
    position: relative; 
    padding: 0; 
    margin-bottom: 3rem;
    background: #000 url("../svg/tale-6.svg") no-repeat center center;
    background-size: 150% auto;
}
*/

/*#home-hero .container { padding-top: 15vh; }*/
/*#home-hero h4 { color: #fff; }*/
/*#home-hero .btn { font-size: 1.4rem; padding: .6rem 1.2rem; }*/
/*.home-container { margin-top: -3rem; }*/

@media only screen and (min-width: 500px) and (max-width: 1050px) {
  .cards a.card {
    margin: 0;
  }

  .cards .col-xs-12 {
    padding: 0;
  }

  .cards.promo-cards a.promo {
    min-height: 350px;
  }
}

@media only screen and (min-width: 40em) {
  .cards a.card {
    width: initial;
  }
}

@media only screen and (max-width: 40em) {
  .cards .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }

  #home-hero {
    background-size: cover;
  }
}

/* About us page */
#about .hero {
  background-color: #18b2be;
}

.svp,
.svp:visited {
  width: 100%;
  height: 14rem;
  color: #fff;
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: normal;
}

.svp div {
  padding: 20px;
  width: 50%;
  height: 100%;
  float: left;
}

.svp div:first-child {
  top: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.svp h5 {
  text-align: center;
  color: #fff;
}

.svp p {
  color: #fff;
}

.svp div:first-child i {
  position: absolute;
  bottom: 10%;
  width: 50%;
  margin-left: -20px;
  text-align: center;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.svp:nth-child(3) div:first-child {
  float: right;
}

.svp div:last-child {
  background: #555;
}

.svp div:last-child i {
  display: block;
  text-align: center;
}

.wwd {
  box-sizing: border-box;
  padding: 1rem;
  background: #ddf4f5;
}

#partners {
  position: relative;
}

#partners h3 {
  display: block;
  position: absolute;
  background: #c8b339;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
  bottom: 0;
}

#partners img {
  width: 100%;
}

#find-us h4 {
  margin-bottom: 0.5rem;
}

#find-us h5 {
  margin-top: 4rem;
}

/* Services */
#strategy .hero {
  background-color: #005f83;
}

#management .hero {
  background-color: #005f83;
}

#transformation .hero {
  background-color: #b1bc61;
}

.s-curve {
  stroke-dasharray: 40;
  stroke-dashoffset: 1000;
  animation: dash 100s linear alternate infinite;
}

.svlinks a {
  display: inline-block;

  line-height: 1.2rem;
  margin-bottom: 0.5rem;
  vertical-align: top;
  position: relative;
}

.svlinks a:after {
  display: inline-block;
  content: "chevron_right";
  font-family: "Material Icons";
  width: 1rem;
  vertical-align: text-bottom;
  white-space: nowrap;
  padding-left: 0;
  font-size: 1.2rem;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: underline;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

.svlinks a:hover:after {
  opacity: 1;
  padding-left: 0.3rem;
}

.svlinks a:after,
.svlinks a:hover:after {
  /* Fix for FF/IE */
  text-decoration: none;
}

@keyframes dash {
  from {
    stroke-dashoffset: 10000;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@media only screen and (min-width: 768px) {
  .is-table-row {
    display: table;
  }

  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}

/* Tales & ideas */
/* Tidbits */
#tales .tidbits .col-xs-12:nth-child(1) .tBg.c-tt:before {
  content: "1";
}

#tales .tidbits .col-xs-12:nth-child(2) .tBg.c-tt:before {
  content: "2";
}

#tales .tidbits .col-xs-12:nth-child(3) .tBg.c-tt:before {
  content: "3";
}

#tales .tidbits .col-xs-12:nth-child(4) .tBg.c-tt:before {
  content: "4";
}

#tales .tidbits .col-xs-12:nth-child(5) .tBg.c-tt:before {
  content: "5";
}

#tales .tidbits .col-xs-12:nth-child(6) .tBg.c-tt:before {
  content: "6";
}

#tales .tidbits .col-xs-12:nth-child(7) .tBg.c-tt:before {
  content: "6";
}

#tales .tidbits .col-xs-12:nth-child(8) .tBg.c-tt:before {
  content: "6";
}

.tBg.c-tt {
  color: white;
  background-size: cover;
  min-height: 40px;
  padding: 50px 15px;
  position: relative;
  margin: 0.75rem 0.5rem;
  height: auto;
}

@media only screen and (min-width: 1050px) {
  #tales .tBg.c-tt {
    height: 100%;
  }
}

#tales .tidbits .row {
  margin: 0 0;
}

.tidbits .col-xs-12 {
  padding: 0 0;
}

#tales .tBg.c-tt:before {
  display: block;
  width: 40px;
  height: 40px;
  background-color: inherit;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  z-index: 1;
}

.tidbits {
  background-color: #dddddd;
  background-size: cover;
}

.tidbits h2 {
  color: #005f83;
}

.tBg>span:first-child {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  transition: all 0.5s;
  overflow: hidden;
}

.tBg.c-tt p {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
  color: white;
}

/*End Tidbits */

.hero h2 {
  color: #fff;
  font-size: 2rem;
  line-height: 3.3rem;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .hero h1 {
    font-size: 3rem;
    line-height: 5rem;
  }

  .hero h2 {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  .hero {
    background-position: -250vw -50vh;
    background-size: 60vw 175vh;
    background-repeat: repeat-x;
  }
}

@media only screen and (max-width: 40em) {
  .hero h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.bg-tidbits {
  background-size: cover;
}

.bg-tidbits2 {
  background-size: cover;
}

.bg-tale1 {
  background-size: cover;
}

.bg-tale2 {
  background-size: cover;
}

/* Ideas */
#ideas .hero {
  background-color: #18b2be;
}

/* Labs */
/*
#labs .hero {
    background-color: #18b2be;
    background-image: url(../images/bg-labs.svg);
}
*/
@media only screen and (max-width: 700px) {
  .hero:not(.slim) h1 {
    font-size: 2rem;
    line-height: 3.6rem;
    padding-top: 1.5rem;
  }

  #home-hero h1:after {
    height: 2.3rem;
    font-size: 2.3rem;
  }
}

/* Mobile */
@media only screen and (max-width: 40em) {

  /* Home */
  #home-hero .container {
    padding-top: 1rem;
  }

  /* About us page */
  .svp {
    height: 16rem;
  }

  #partners h3 {
    position: relative;
    margin-top: 0;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  /* Services */
  .svlinks a {
    width: 100%;
    margin-bottom: 0.8rem;
  }

  .svlinks a:after {
    opacity: 1;
  }
}

/* Desktop */
@media only screen and (min-width: 64.063em) {

  /* About us page */
  .svp {
    height: 24rem;
    width: 20%;
    float: left;
  }

  .svp div {
    width: 100%;
    float: none;
  }

  .svp div:first-child {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .svp:hover div:first-child {
    height: 30%;
  }

  .svp div:first-child i {
    position: absolute;
    bottom: 10%;
    width: 100%;
    margin-left: -20px;
    text-align: center;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
  }

  .svp:hover div:first-child i {
    opacity: 0;
  }

  .svp div:last-child {
    padding-top: 70%;
  }

  .svp p {
    font-size: 0.9rem;
  }

  .wwd {
    float: right;
    width: 40%;
    height: 24rem;
    padding: 1rem 2rem;
  }

  .wwd h3 {
    margin-bottom: 1rem;
  }
}

/* Retina screens font fixes */
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  h4,
  h5,
  .card strong,
  .hero p,
  .content p strong,
  .quote p {
    letter-spacing: -0.08rem;
  }
}

/* On-scroll animation */
.animateIn {
  transition: transform 1s ease, opacity 1s ease;
  transform: translate(0, 0);
  opacity: 1;
}

.animateOut {
  transition: transform 1s ease, opacity 1s ease;
  transform: translate(0, 30px);
  opacity: 0;
}

@media only screen and (max-width: 40em) {

  /*	Top*/
  .top>a {
    height: 4rem;
  }

  .top {
    height: 4rem;
  }

  #trigger-overlay {
    top: 1.1rem;
  }

  .wrapper {
    padding-top: 4rem;
  }

  /*	Tales*/
  #tales .tBg.c-tt {
    margin: 0.75rem 0;
  }

  .tidbits .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

section.service-cards .row h3 {
  margin-top: 0;
  padding: 0;
}

.service-cards .details p {
  color: black;
  line-height: 1rem;
  font-size: 0.9rem;
  font-weight: normal;
}

.service-cards .details {
  position: absolute;
  left: 15px;
  z-index: 1;
  bottom: 10px;
  color: #000;
}

.service-cards h4 {
  position: relative;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-top: 0;
  z-index: 1;
  font-weight: normal;
  color: #000;
}

.service-cards h3 {
  position: relative;
  margin-bottom: 5px;
  z-index: 1;
  color: #000;
  font-size: 2rem;
  line-height: 2.25rem;
}

.service-cards .card {
  padding: 15px 15px;
  min-height: 300px;
  text-decoration: none;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
  margin: 0.75rem 0.5rem;
}

@media only screen and (min-width: 990px) and (max-width: 1100px) {
  section.fw.service-cards.nopadding {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.service-cards .tBg.c-tt h3:after {
  display: inline-block;
  content: "chevron_right";
  font-family: "Material Icons";
  width: 1rem;
  vertical-align: text-bottom;
  white-space: nowrap;
  padding-left: 0;
  font-size: 1.5rem;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: underline;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  text-decoration: none;
}

.service-cards .tBg.c-tt:hover h3:after {
  opacity: 1;
  padding-left: 0.3rem;
}

.service-cards .tBg.c-tt:hover span {
  transform: scale(1.1);
}

a.tBg.c-tt:hover {
  box-shadow: 0 0px 20px 3px #cccccc;
}

.service-detail .s-card {
  padding: 1rem;
  height: 100%;
}

.service-detail .s-card h3 {
  font-size: 2rem;
  line-height: 2.25rem;
  margin: 0.5rem 0 1rem;
}

.service-detail .col-md-6 {
  margin: 1rem 0rem;
}

@media only screen and (max-width: 40em) {
  .service-detail .s-card {
    height: auto;
  }
}

@media only screen and (max-width: 40em) {
  .service-cards .col-xs-12 {
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .service-cards .card {
    margin: 0.75rem 0;
    min-height: 330px;
  }

  .fw .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .service-cards .tBg.c-tt {
    margin: 0.75rem 0rem;
  }

  .service-cards h3 {
    font-weight: 100;
  }

  .card {
    padding: 0 0;
    margin: 0.5rem 0;
  }

  .service-detail .col-md-6 {
    height: auto;
  }
}

@media screen and (min-width: 990px) and (max-width: 1700px) {
  section.fw.service-cards.nopadding .container-fluid {
    padding: 0 10%;
  }

  section.fw.service-cards.nopadding {
    padding: 0 5%;
  }

  section.fw.service-cards .details p {
    margin: 3% 0;
  }
}

@media screen and (min-width: 991px) and (max-width: 1400px) {
  section.fw.service-cards.nopadding .container-fluid {
    padding: 0 0;
  }
}

@media screen and (min-width: 991px) {
  section.fw.service-cards .card {
    min-height: 350px;
  }
}

.hero.slim {
  padding: 0.5vh 15vw;
  min-height: 0;
  height: 100px;
}

.hero.slim h1 {
  margin-bottom: 0.5vw;
}

section.container-fluid.search-embed {
  margin: 0rem -15vw;
  background-color: #999;
  padding: 0.5rem 15vw;
}

footer #search:focus {
  outline-color: #555;
}

.search-embed #main-search:focus {
  outline-color: #555;
}

.search-embed form {
  position: relative;
}

.search-embed form input {
  background-color: #dddddd;
  color: #000;
  border: none;
  padding-left: 0.5rem;
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
}

.search-embed i.search {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  width: 30px;
}

/*Labs*/
@media only screen and (max-width: 40em) {
  .hero.slim {
    padding: 0.5vh 0;
    min-height: 0;
    height: 100px;
  }

  .wrapper.lab .hero h1 {
    line-height: 3.1rem;
  }
}

#instafeed a {
  position: relative;
  width: 33%;
  text-decoration: none;
  float: left;
  padding: 0 1rem;
}

#instafeed .holder {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#instafeed a img {
  width: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

#instafeed a img:hover {
  transform: scale(1.05);
}

#instafeed .holder:after {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  background-size: cover;
  left: 0;
  bottom: 0;
}

#instafeed {
  position: relative;
  z-index: 0;
  width: 100%;
  padding-bottom: 1.5rem;
  overflow: hidden;
}

.container.instagram {
  max-height: 0;
  transition: all 1s;
}

@media only screen and (max-width: 40em) {
  #instafeed a {
    width: 100%;
    padding-right: 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
  }
}

#find-us {
  z-index: 0;
  position: relative;
}

/* Fancy Button Styling Fix */

.row-flex>div[class*="col-"] {
  position: inherit;
}

.btn {
  position: relative;
  appearance: none;
  background: #18b2be;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.btn span {
  position: relative;
}

.btn::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #0e4c8d, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.btn:hover::before {
  --size: 200px;
}

/* End Fancy Button Styling Fix */

/* Fonts Start */
/* cyrillic-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v15/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v15/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v15/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v15/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v15/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v15/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
    url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGAtXaCylRF0D-MaoYoCuiMM.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
    url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGAAAU1WVAUWBSTvimZV06U4.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
    url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGCJjduVyTEemf0kCvaihHEU.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
    url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGFnEzh12mEKZN5amaOp7-V4.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
    url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGClYwVOhDRq2vbpGRTZ7bbs.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
    url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGFKFh1TDTPrUZWzVp6FtpG8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F,
    U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold"), local("SourceSansPro-SemiBold"),
    url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Fonts End */

.tidbits a {
  color: white;
  font-weight: normal;
}